@font-face {	font-family: Chucara;	font-style:italic;	src: url(./Chucara-Italic.otf);}
@font-face {	font-family: Chucara;	src: url(./Chucara-Regular.otf);}
@font-face {	font-family: DroidSans;		font-style: normal; 	font-weight: bold;	src: url(DroidSans-Bold.ttf);}
@font-face {	font-family: DroidSans;	src: url(DroidSans.ttf);}
@font-face {	font-family: Existence-Light;	src: url(./Existence-Light.otf);}
@font-face {	font-family: Existence-Stencil;	src: url(./Existence-StencilLight.otf);}
@font-face {	font-family: Existence-Unicase;	src: url(./Existence-UnicaseLight.otf);}
@font-face {	font-family: GentiumPlusW;	font-style: italic;	src: url(GentiumPlus-I.woff);}/*Droid*/
@font-face {	font-family: GentiumPlusW;	src: url(GentiumPlus-R.woff);}
@font-face {	font-family: KaffeeSatz;	font-weight: bold;	src: url(./YanoneKaffeesatz-Light.otf);}
@font-face {	font-family: KaffeeSatz;	font-weight: lighter;	src: url(./YanoneKaffeesatz-Thin.otf);}
@font-face {	font-family: KaffeeSatz;	src: url(./YanoneKaffeesatz-Regular.otf);}
@font-face {	font-family: KaffeeSatz;	font-weight: bold;	src: url(./YanoneKaffeesatz-Bold.otf);}
@font-face {	font-family: Lato;	src: url(./Lato-BlackItalic.ttf);}
@font-face {	font-family: BlackJack;	src: url(./black_jack.ttf);}
@font-face {	font-family: Comforta;	src: url(./Comfortaa_Bold.ttf);}
@font-face {	font-family: Comforta;	src: url(./Comfortaa_Regular.ttf);}
@font-face {	font-family: Comforta;	src: url(./Comfortaa_Thin.ttf);}
@font-face {	font-family: DroidSerif;	font-weight:bold;	font-style:italic;	src: url(./DroidSerif-BoldItalic.ttf);}
@font-face {	font-family: DroidSerif;	font-weight:bold;	src: url(./DroidSerif-Bold.ttf);}
@font-face {	font-family: DroidSerif;	font-style:italic;	src: url(./DroidSerif-Italic.ttf);}
@font-face {	font-family: DroidSerif;	src: url(./DroidSerif-Regular.ttf);}
@font-face {	font-family: LaneNarrow;	src: url(./LANENAR_.ttf);}
@font-face {	font-family: LanePosh;	src: url(./LANEPOSH.ttf);}
@font-face {	font-family: LaneUp;	src: url(./LANEUP__.ttf);}
@font-face {	font-family: Lato;	font-weight:bolder;	src: url(./Lato-Black.ttf);}
@font-face {	font-family: Lato;	font-weight:bold;	font-style:italic;	src: url(./Lato-BoldItalic.ttf);}
@font-face {	font-family: Lato;	font-weight:bold;	src: url(./Lato-Bold.ttf);}
@font-face {	font-family: Lato;	font-weight:lighter;	font-style:italic;	src: url(./Lato-HairlineItalic.ttf);}
@font-face {	font-family: Lato;	font-weight:lighter;	src: url(./Lato-Hairline.ttf);}
@font-face {	font-family: Lato;	font-style:italic;	src: url(./Lato-Italic.ttf);}
@font-face {	font-family: Lato;	font-weight:light;	font-style:italic;	src: url(./Lato-LightItalic.ttf);}
@font-face {	font-family: Lato;	font-weight:light;	src: url(./Lato-Light.ttf);}
@font-face {	font-family: Lato;	src: url(./Lato-Regular.ttf);}
@font-face {	font-family: NeoRetro;	src: url(./NEORD___.ttf);}
@font-face {	font-family: NeoRetro;	src: url(./NEORF___.ttf);}
@font-face {	font-family: NeoRetro;	src: url(./NEORS___.ttf);}
@font-face {	font-family: RadioHead;	src: url(./rabiohead.ttf);}
@font-face {	font-family: Vera;	font-weight:bold;	font-style:italic;	src: url(./Vera-Bold-Italic.ttf);}
@font-face {	font-family: Vera;	font-weight:bold;	src: url(./Vera-Bold.ttf);}
@font-face {	font-family: Vera;	font-style:italic;	src: url(./Vera-Italic.ttf);}
@font-face {	font-family: Vera;	src: url(./Vera.ttf);}
@font-face {	font-family: Vollkorn;	font-weight:bold;	font-style:italic;	src: url(./Vollkorn-BoldItalic.ttf);}
@font-face {	font-family: Vollkorn;	font-weight:bold;	src: url(./Vollkorn-Bold.ttf);}
@font-face {	font-family: Vollkorn;	font-style:italic;	src: url(./Vollkorn-Italic.ttf);}
@font-face {	font-family: Vollkorn;	src: url(./Vollkorn-Regular.ttf);}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 24, 2011 09:13:46 PM America/New_York */



@font-face {
	font-family: 'Ubuntu';
	src: url('Ubuntu-R-webfont.eot');
	src: local('☺'), url('Ubuntu-R-webfont.woff') format('woff'), url('Ubuntu-R-webfont.ttf') format('truetype'), url('Ubuntu-R-webfont.svg#webfontKT0zjHSC') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('Ubuntu-I-webfont.eot');
	src: local('☺'), url('Ubuntu-I-webfont.woff') format('woff'), url('Ubuntu-I-webfont.ttf') format('truetype'), url('Ubuntu-I-webfont.svg#webfontGetaoUfe') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('Ubuntu-B-webfont.eot');
	src: local('☺'), url('Ubuntu-B-webfont.woff') format('woff'), url('Ubuntu-B-webfont.ttf') format('truetype'), url('Ubuntu-B-webfont.svg#webfontEreyFiHC') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('Ubuntu-BI-webfont.eot');
	src: local('☺'), url('Ubuntu-BI-webfont.woff') format('woff'), url('Ubuntu-BI-webfont.ttf') format('truetype'), url('Ubuntu-BI-webfont.svg#webfontf1YowZka') format('svg');
	font-weight: bold;
	font-style: italic;
}
.kaffeesatz{
	font-family:kaffeesatz;
	font-size:1.4em;
}
